# Banco de dados
DATABASE_URL=jdbc:oracle:thin:@db:1521/FREEPDB1
DATABASE_USER=esg_app
DATABASE_PWD=troque-esta-senha
# Senha do administrador do Oracle
DB_ADMIN_PASSWORD=troque-esta-senha-admin

# Aplicacao
JWT_SECRET=troque-por-uma-chave-secreta
# Porta do seu computador onde a API vai ficar acessivel
APP_PORT=8080